/*----- SF -----*/

@font-face {
    font-family: SF;
    src: url("../fonts/SF.otf") format("opentype");
}

/*----- MIGRA -----*/

@font-face {
    font-family: Migra;
    src: url("../fonts/Migra.otf") format("opentype");
}
